Flujo.json
[{"id":"292a251f.5afb8a","type":"tab","label":"Procesamiento Alerta","disabled":false,"info":""},{"id":"839869e8.54e608","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"ca041c5b.477e6","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c91d60c5.1e202","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"1e60466e.462a0a","type":"mqtt-broker","z":"","name":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"93b32b05.b8e8c8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Idee","default":"#4B7930","baseColor":"#2f63ff","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#2f63ff","edited":false},"page-backgroundColor":{"value":"#ffcb2f","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#ffcb2f","edited":true},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#2f63ff","edited":false},"widget-borderColor":{"value":"#d5dfff","edited":true},"base-font":{"value":"Copperplate,Copperplate Gothic Light,fantasy"}}},"site":{"name":"Idee: AtmenUhr HOME","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":65,"gx":7,"gy":7,"cx":7,"cy":17,"px":0,"py":0}}},{"id":"361b3bb5.39cbf4","type":"ui_group","z":"","name":"Nivel de Nicotina","tab":"bd96a5e1.7e17a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7c598d4.7541a8","type":"mqtt-broker","z":"","name":"Adafuit","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f4f53b45.cc45f8","type":"ui_group","z":"","name":"Usuario","tab":"bd96a5e1.7e17a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"cdcd6f88.3f4ad","type":"ui_group","z":"","name":"DatosUsuario","tab":"56411a1d.44a294","order":1,"disp":false,"width":"6","collapse":false},{"id":"56411a1d.44a294","type":"ui_tab","z":"","name":"Parametros","icon":"dashboard"},{"id":"a83015d.ae262e8","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.103","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2e8f443f.a67c0c","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"fb61e467.5c6a18","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"bd96a5e1.7e17a8","type":"ui_tab","z":"","name":"Graficas","icon":"dashboard"},{"id":"71056b62.04d234","type":"ui_group","z":"","name":"Estado del Deposito ","tab":"bd96a5e1.7e17a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"3870aa56.895d06","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.79","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c192594.31f05a8","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"f70901ba.c02cf","type":"mqtt-broker","z":"","name":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"214bddb4.b090b2","type":"mqtt-broker","z":"","name":"Adafuit","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"85c08ccc.f5918","type":"ui_group","z":"","name":"Default","tab":"b90c8113.a8ee7","disp":true,"width":"6","collapse":false},{"id":"bb027d64.a362a","type":"ui_group","z":"","name":"DatosUsuario","tab":"bf971985.1bc868","order":1,"disp":false,"width":"6","collapse":false},{"id":"b90c8113.a8ee7","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"bf971985.1bc868","type":"ui_tab","z":"","name":"Parametros, Idee: AtmenUhr","icon":"dashboard"},{"id":"e49b1c4f.3b6c2","type":"ui_group","z":"","name":"Dosis Disponibles","tab":"bd96a5e1.7e17a8","order":4,"disp":true,"width":"6","collapse":false},{"id":"e784dc6e.a4763","type":"mqtt-broker","z":"","name":"","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6b45288e.b946b8","type":"ui_group","z":"","name":"Temperatura","tab":"bd96a5e1.7e17a8","order":6,"disp":true,"width":"6","collapse":false},{"id":"4d173c6e.6cb3c4","type":"ui_group","z":"","name":"Ritmo Cardiaco","tab":"bd96a5e1.7e17a8","order":7,"disp":true,"width":"6","collapse":false},{"id":"1a746a0c.1400a6","type":"mui_group","z":"","name":"Default","tab":"2d7bfc90.b70814","disp":true,"width":"6","collapse":false},{"id":"2d7bfc90.b70814","type":"mui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d61edc0e.bf34","type":"ui_group","z":"","name":"Historico Pulso","tab":"bd96a5e1.7e17a8","order":8,"disp":true,"width":"6","collapse":false},{"id":"a831ac90.a437c","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e0ae353e.384638","type":"ui_group","z":"","name":"Historico Temperatura","tab":"bd96a5e1.7e17a8","order":9,"disp":true,"width":"6","collapse":false},{"id":"1b8452db.a90c2d","type":"ui_group","z":"","name":"Dosis Usadas","tab":"bd96a5e1.7e17a8","order":5,"disp":true,"width":"6","collapse":false},{"id":"a46c6d68.aea68","type":"mqtt in","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/dosis","qos":"2","broker":"214bddb4.b090b2","x":340,"y":440,"wires":[["930f1f78.3a6c2","101c6043.0776a","88bcd965.35b098"]]},{"id":"930f1f78.3a6c2","type":"debug","z":"292a251f.5afb8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":400,"wires":[]},{"id":"101c6043.0776a","type":"function","z":"292a251f.5afb8a","name":"Datos recibidos","func":"var valorActual= global.get(\"dosis\");\nglobal.set(\"dosis\", valorActual-1);\nmsg.payload=global.get(\"dosis\");\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":440,"wires":[["88447a08.af3e78","7e34c6f8.89fbd8","6d9324b8.1af8ac"]]},{"id":"784b91fd.6ac0d","type":"mqtt in","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/pulso","qos":"2","broker":"214bddb4.b090b2","x":320,"y":280,"wires":[["b18cbb4e.aa2f38","c3523f39.43be2"]]},{"id":"2528c072.fb88b","type":"mqtt in","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/Temperatura","qos":"2","broker":"214bddb4.b090b2","x":340,"y":220,"wires":[["4ee60d5b.8bb974"]]},{"id":"c4e36020.d3ba6","type":"ui_form","z":"292a251f.5afb8a","name":"","label":"Datos usuario","group":"bb027d64.a362a","order":0,"width":"6","height":"8","options":[{"label":"Nombre","value":"nombre","type":"text","required":true},{"label":"Edad","value":"edad","type":"number","required":true},{"label":"Género","value":"Genero","type":"text","required":false},{"label":"Meses fumando","value":"Meses","type":"number","required":true},{"label":"Cigarrillos diarios","value":"cigarrillos","type":"number","required":true}],"formValue":{"nombre":"","edad":"","Genero":"","Meses":"","cigarrillos":""},"payload":"","topic":"AtmenUhr/feeds/user","x":290,"y":140,"wires":[["149d9ee1.82c2b1","ba08848d.787088","152ba5be.f5e5fa"]],"outputLabels":["Estos son mis datos"],"icon":"node-red/arduino.png"},{"id":"149d9ee1.82c2b1","type":"debug","z":"292a251f.5afb8a","name":"Datos de entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":40,"wires":[]},{"id":"ba08848d.787088","type":"function","z":"292a251f.5afb8a","name":"VariablesGlobales","func":"var res= msg.payload;\nglobal.set(\"name\", res.nombre);\nglobal.set(\"age\", res.edad);\nglobal.set(\"timeS\", res.meses);\nglobal.set(\"cigarettes\", res.cigarrillos);\nglobal.set(\"gender\", res.genero);\nglobal.set(\"dosis\",0);\nglobal.set(\"dosisuso\",0);\nglobal.set(\"nicotina\", 99);\nvar cig= global.get(\"cigarettes\");\nif(cig<=2){\n    global.set(\"dosis\", 1);\n}\nif(cig<=5){\n    global.set(\"dosis\", 4);\n}\nelse if(cig<=10){\n    global.set(\"dosis\", 8);\n}\nelse if(cig<=15){\n    global.set(\"dosis\", 14);\n}\nelse if(cig<=20){\n    global.set(\"dosis\", 19);\n}\nelse if(cig<=25){\n    global.set(\"dosis\", 23);\n}\nelse if(cig<=30){\n    global.set(\"dosis\", 27);\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["63a2dad1.938264","4a3c63af.b1aa5c"]]},{"id":"4ee60d5b.8bb974","type":"function","z":"292a251f.5afb8a","name":"DatosTemperatura","func":"var temperatura= msg.payload;\nvar doss=0;\nif(temperatura < 20)\n   {\n    \n    }      \n    else if(temperatura > 35)\n    {\n    doss= global.get(\"dosis\");\n    global.set(\"dosis\", doss+2);\n     }\n    else{\n         doss= global.get(\"dosis\");\n    global.set(\"dosis\", doss+1);\n          }\nmsg.payload= temperatura;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["671509a6.6b2ea8","86abef25.b1ce6","7bf84313.2f509c"]]},{"id":"b18cbb4e.aa2f38","type":"function","z":"292a251f.5afb8a","name":"DatosPulso","func":"global.set(\"pulso\",msg.payload);\nglobal.set(\"numPulso\",0);\nvar pul= msg.payload;\nvar doss=0;\nif(pul<=100||pul>=60){\n    \n}\nelse if(pul>=100){\n    doss= global.get(\"dosis\");\n    global.set(\"dosis\", doss+1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["f02b8d18.d3232","26cc5ad4.f6ee26"]]},{"id":"671509a6.6b2ea8","type":"ui_gauge","z":"292a251f.5afb8a","name":"","group":"6b45288e.b946b8","order":0,"width":"6","height":"6","gtype":"gage","title":"Temperatura","label":"C°","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"35","x":970,"y":140,"wires":[]},{"id":"7b1df28a.61caac","type":"debug","z":"292a251f.5afb8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":260,"wires":[]},{"id":"86abef25.b1ce6","type":"function","z":"292a251f.5afb8a","name":"ValorDosis","func":"msg.payload=global.get(\"dosis\");\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["7b1df28a.61caac","7e34c6f8.89fbd8"]]},{"id":"7e34c6f8.89fbd8","type":"ui_gauge","z":"292a251f.5afb8a","name":"","group":"e49b1c4f.3b6c2","order":0,"width":"6","height":"6","gtype":"wave","title":"Dosis Disponibles","label":"dosis","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":440,"wires":[],"inputLabels":["global.get(\"dosis\")"]},{"id":"20144bad.5f1d44","type":"inject","z":"292a251f.5afb8a","name":"UsoDosis","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":780,"wires":[["123de71e.6c59b9"]]},{"id":"123de71e.6c59b9","type":"mqtt out","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/Dosis","qos":"","retain":"","broker":"f70901ba.c02cf","x":640,"y":780,"wires":[]},{"id":"cb6cefd6.79d8f","type":"inject","z":"292a251f.5afb8a","name":"Temperatura","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":720,"wires":[["ca4d551d.092fa8"]]},{"id":"ca4d551d.092fa8","type":"mqtt out","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/Temperatura","qos":"","retain":"","broker":"f70901ba.c02cf","x":630,"y":720,"wires":[]},{"id":"88447a08.af3e78","type":"debug","z":"292a251f.5afb8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":400,"wires":[]},{"id":"97a81.7fb5e57f8","type":"function","z":"292a251f.5afb8a","name":"DosisActuales","func":"msg.payload= global.get(\"dosis\");\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":520,"wires":[["7e34c6f8.89fbd8"]]},{"id":"f02b8d18.d3232","type":"ui_gauge","z":"292a251f.5afb8a","name":"","group":"4d173c6e.6cb3c4","order":0,"width":"6","height":"6","gtype":"donut","title":"Pulso","label":"Lpm","format":"{{value}}","min":"60","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"120","x":750,"y":340,"wires":[]},{"id":"abb8199b.bf86d8","type":"inject","z":"292a251f.5afb8a","name":"Pulso","topic":"","payload":"130","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":860,"wires":[["3b356502.f52a7a"]]},{"id":"3b356502.f52a7a","type":"mqtt out","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/pulso","qos":"","retain":"","broker":"f70901ba.c02cf","x":560,"y":860,"wires":[]},{"id":"415b3c3b.89a624","type":"ui_text","z":"292a251f.5afb8a","group":"f4f53b45.cc45f8","order":0,"width":"6","height":"6","name":"Usuario:","label":"{{msg.payload}}","format":"","layout":"col-center","x":1100,"y":40,"wires":[]},{"id":"fddde95d.4ee9f8","type":"mqtt in","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/nicotina","qos":"2","broker":"214bddb4.b090b2","x":350,"y":540,"wires":[["73599f83.33d12"]]},{"id":"73599f83.33d12","type":"function","z":"292a251f.5afb8a","name":"Datos recibidos","func":"global.set(\"nicotina\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":540,"wires":[["78a1d62d.8e9958"]]},{"id":"78a1d62d.8e9958","type":"ui_gauge","z":"292a251f.5afb8a","name":"","group":"361b3bb5.39cbf4","order":0,"width":"6","height":"6","gtype":"wave","title":"Nivel de Nicotina","label":"%","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":520,"wires":[]},{"id":"152ba5be.f5e5fa","type":"function","z":"292a251f.5afb8a","name":"SacarNombre","func":"var res= msg.payload;\nmsg.payload=res.nombre;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["415b3c3b.89a624"]]},{"id":"63a2dad1.938264","type":"function","z":"292a251f.5afb8a","name":"Dosis","func":"msg.payload= global.get(\"dosis\");\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["7e34c6f8.89fbd8"]]},{"id":"4a3c63af.b1aa5c","type":"function","z":"292a251f.5afb8a","name":"Nicotina","func":"msg.payload= global.get(\"nicotina\");\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":640,"wires":[["78a1d62d.8e9958"]]},{"id":"26cc5ad4.f6ee26","type":"ui_chart","z":"292a251f.5afb8a","name":"","group":"d61edc0e.bf34","order":0,"width":"6","height":"6","label":"Pulso Historico","chartType":"line","legend":"true","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2f63ff","#ffcb2f","#82a1ff","#ffcb2f","#2f63ff","#ffcb2f","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1240,"y":360,"wires":[[],[]]},{"id":"c3523f39.43be2","type":"debug","z":"292a251f.5afb8a","name":"LlegaPulso","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":360,"wires":[]},{"id":"7bf84313.2f509c","type":"ui_chart","z":"292a251f.5afb8a","name":"","group":"e0ae353e.384638","order":0,"width":"6","height":"6","label":"Temperaturra Historica","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ffcb2f","#2f63ff","#ffcb2f","#2f63ff","#ffcb2f","#2f63ff","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1100,"y":200,"wires":[[],[]]},{"id":"88bcd965.35b098","type":"function","z":"292a251f.5afb8a","name":"Usados","func":"global.set(\"dosisuso\",global.get(\"dosisuso\")+1 );\nmsg.payload=global.get(\"dosisuso\");\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["8738ab98.2eb808"]]},{"id":"8738ab98.2eb808","type":"ui_gauge","z":"292a251f.5afb8a","name":"Dosis Usadas","group":"1b8452db.a90c2d","order":0,"width":"6","height":"6","gtype":"wave","title":"Dosis Usadas","label":"dosis","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":480,"wires":[],"inputLabels":["global.get(\"dosis\")"]},{"id":"6d9324b8.1af8ac","type":"switch","z":"292a251f.5afb8a","name":"Alerta DOsis","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":660,"wires":[["c7448e2b.6fd18"]]},{"id":"c7448e2b.6fd18","type":"mqtt out","z":"292a251f.5afb8a","name":"","topic":"AtmenUhr/feeds/dosisalerta","qos":"","retain":"","broker":"1e60466e.462a0a","x":1270,"y":660,"wires":[]}]
